# -----------------------
# Python
# -----------------------

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/

# -----------------------
# React
# -----------------------

node_modules/
dist/

# -----------------------
# VSCode
# -----------------------

.vscode/

# -----------------------
# 환경 변수
# -----------------------

.env

# -----------------------
# 운영체제
# -----------------------

Thumbs.db
.DS_Store

# -----------------------
# Output
# -----------------------

output/

# -----------------------
# Logs
# -----------------------

*.log